body {
  background-color: #eaf6f6;
  color: #1e836e;
}
p{
    color: #545454
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: rgb(224, 224, 224);
  border-width: 20px;
  width: 20%;
}

img {
  height: 150px;
}

